form{
    width:100%;
    background-color:rgb(240,240,240);
     padding-left:1em;
}
form label{
    display:block;
    padding-top:1em;
   
}
input, textarea{
 width:90%;
 margin:0 auto;
 padding:5px 0;
 font-size:inherit;

}
input[type="submit"]{
    margin:1em auto;
    background-color:#228B22;
}
.group-form .error{
    
}