$font-stack:Helvetica,sans-serif;
@mixin apply-border($size-border, $type-border, $color:grey, $radius:0){
    border: $size-border $type-border $color;
    border-radius:$radius;
}
@mixin box-shadow($border-radius, $shadows...){
    border-radius:$border-radius;
    box-shadow:$shadows;
}