.success, .warning {
  padding: 1em;
  color: #333; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.group:before {
  content: '';
  display: table; }
.group:after {
  content: '';
  display: table;
  clear: both; }

.success {
  border-color: green; }

.warning {
  border-color: yellow; }

.error {
  border-color: #ff0000;
  color: #ff0000; }

.red {
  color: #ff0000; }

.grid-wrapper {
  display: grid;
  grid-template-rows: 3em 3em auto auto auto;
  grid-gap: 1em 10px;
  justify-content: center; }
  @media (min-width: 600px) {
    .grid-wrapper {
      grid-template-columns: 40% repeat(4, 1fr); } }
  @media (min-width: 992px) {
    .grid-wrapper {
      grid-template-columns: 30% repeat(4, 1fr); } }

@media (min-width: 992px) {
  .flex-wrapper {
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-flow: column;
    justify-content: center; } }
  @media (min-width: 992px) and (min-width: 600px) {
    .flex-wrapper {
      flex-flow: row wrap;
      justify-content: space-around; } }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.fa {
  padding: 10px; }

h1,
h2,
h3,
h4 {
  font-family: Verdana;
  padding: 0.5em 0;
  color: #696969; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3,
h4 {
  font-size: 1.25em; }

p {
  text-align: justify; }

a {
  text-decoration: none; }

/*Main page layout */
body {
  font: 16px/24px Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    body {
      padding: 0 20px; } }

/* Managing responsive navigation */
header {
  position: sticky;
  top: 0;
  grid-column: 1/span 5;
  grid-row: 1;
  background-color: #fff;
  border-bottom: 1px solid silver; }
  @media (min-width: 992px) {
    header {
      grid-column: 2/span 5;
      grid-row: 1; } }
  header:hover {
    background-color: #f3faf0; }
  header a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding: 5px 10px;
    color: #0e855d; }
    header a:hover {
      color: yellowgreen; }

nav {
  max-width: 60%;
  display: inline-block;
  float: left; }
  @media (min-width: 992px) {
    nav {
      float: none;
      flex: 1 1 200px; } }
  nav ul {
    width: 100%;
    list-style-type: none;
    padding: 10px; }
    @media (max-width: 599px) {
      nav ul {
        padding-top: 0;
        text-align: left; } }
    nav ul li {
      display: inline;
      width: 100%; }
      nav ul li ul {
        display: none; }
      nav ul li:active > ul {
        display: block; }
      @media (max-width: 599px) {
        nav ul li {
          display: block;
          position: relative;
          left: 0;
          top: 1em;
          background-color: #0e855d;
          padding: 0.5em; }
          nav ul li a {
            padding-left: 2em;
            color: bisque; } }

.social-icons {
  float: right;
  max-width: 40%;
  display: inline-block; }
  @media (max-width: 599px) {
    .social-icons {
      position: absolute;
      right: 10px;
      top: 10px; } }
  @media (min-width: 992px) {
    .social-icons {
      float: none;
      flex: 1 1 100px;
      text-align: right;
      padding-right: 20px; } }

@media (max-width: 599px) {
  #menu-list {
    display: none;
    position: absolute;
    top: 2em;
    right: 0;
    width: 100vw; } }

#close-btn {
  display: none; }
  @media (max-width: 599px) {
    #close-btn {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.25em;
      font-size: 2em; }
      #close-btn:hover {
        background-color: #cbe090; } }

#menu-btn {
  display: none; }
  @media (max-width: 599px) {
    #menu-btn {
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      padding: 0.25em;
      font-size: 1.5em; }
      #menu-btn:hover {
        background-color: #cbe090; } }

.logobar {
  grid-column: 1/span 5;
  grid-row: 2;
  padding: 0 1em; }
  @media (min-width: 992px) {
    .logobar {
      padding: 2em 5%;
      grid-column: 1/span 5;
      grid-row: 1/span 2; } }
  .logobar button {
    float: right;
    background-color: #006400;
    color: white;
    margin: 5px auto;
    padding: 1em;
    border: 0 none green;
    border-radius: 10px;
    cursor: pointer; }
    .logobar button:hover {
      color: yellow;
      background-color: green; }
      .logobar button:hover a {
        text-decoration: none; }
    @media (min-width: 992px) {
      .logobar button {
        margin-top: 2em; } }

main {
  grid-column: 1/ span 5;
  grid-row: 3;
  padding: 10px; }
  @media (min-width: 768px) {
    main {
      padding: 0 32px;
      grid-column: 2/ span 5;
      grid-row: 3; } }

aside {
  grid-column: 1/ span 5;
  grid-row: 4;
  padding: 10px; }
  @media (min-width: 768px) {
    aside {
      grid-column: 1;
      grid-row: 3;
      padding-top: 2em; } }

footer {
  grid-column: 1/span 5;
  grid-row: 5;
  background-color: #000000;
  color: #C0C0C0; }
  @media (min-width: 992px) {
    footer {
      grid-column: 1/span 5;
      grid-row: 4; } }

/* End of main page layout */
.main-image {
  margin: 1em auto; }
  @media (min-width: 768px) {
    .main-image {
      margin: 5px; } }

.accreditation {
  padding-bottom: 1em;
  font-family: Verdana;
  font-size: 0.5em; }

.column {
  margin-top: 1.5em;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  border: thin solid silver;
  border-radius: 0;
  border-radius: 5px;
  box-shadow: 20px, 20px, 20px, gray; }
  .column img {
    float: left;
    margin: 1em;
    vertical-align: middle; }
  .column p {
    padding: 1em; }

.services a {
  display: block;
  text-decoration: none;
  padding: 0;
  line-height: 1.2;
  color: #008080; }
  .services a:hover {
    text-decoration: underline;
    color: #20B2AA;
    padding-left: 3px; }

.profile-pic {
  float: left;
  padding: 1em; }
  @media (max-width: 599px) {
    .profile-pic {
      float: none;
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
